body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
header {
    text-align: left;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    font-weight: 700;
}
.logo .logo-span {
    color: #2E2F42;
} 
ul li{
    list-style-type: none;
}
.main-menu-link {
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
}
.main-menu-link:hover, .main-menu-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal
}
.address-a {
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.address-a:hover, .address-a:focus{
    color: #404BBF;
}
.main-section {
    background-color: #2e2f42;
}
.main-section-h {
    color: #ffffff;
}
.main-section-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.main-section-button:hover, .main-section-button:focus {
    background-color: #404BBF;

}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    font-weight: bold;
    text-align: center;
}