body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    font-weight: 700;
}
.logo .logo-span {
    color: #2E2F42;
} 
.logo-span-footer{
    color: #f4f4fd;
}
ul li{
    list-style-type: none;
}
.main-menu-link {
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
}
.main-menu-link:hover, .main-menu-link:focus {
    color: #404BBF;
}
.address {
    font-style: normal
}
.address-a {
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.address-a:hover, .address-a:focus{
    color: #404BBF;
}
.main-section {
    background-color: #2e2f42;
}
.main-section-h {
    color: #ffffff;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    
}
.main-section-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.main-section-button:hover, .main-section-button:focus {
    background-color: #404BBF;

}

.section-two-h-two{
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    color: #2e2f42;
}
.section-two-h-tree{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.section-two-p{
    line-height: 1.5;
    letter-spacing: 0.02em;


}
.section-tree{
    background-color: #F4F4FD;
}
.section-tree-h-two{
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

}
.section-tree-li{
    background-color: #FFFFFF;
}
.section-tree-h-tree{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-tree-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-four-h-tree{
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-four-p{
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}
.section-tree{
    background-color: #F4F4FD;
}
.section-tree-h-two {
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
}
.footer {
    background-color:#2e2f42;
}
.footer-p {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}

